[submodule "Orange-Pineapple/Assets/Lockstep-Framework"]
	path = Orange-Pineapple/Assets/Lockstep-Framework
	url = ../Lockstep-Framework.git
[submodule "Orange-Pineapple/Assets/PhotonNetworkHelper"]
	path = Orange-Pineapple/Assets/PhotonNetworkHelper
	url = ../PhotonNetworkHelper.git
